@font-face {
  font-family: EB Garamond;
  font-style: normal;
  src: url(./assets/fonts/EBGaramond12-Regular.otf) format('opentype');
}
@font-face {
  font-family: EB Garamond;
  font-style: italic;
  src: url(./assets/fonts/EBGaramond12-Italic.otf) format('opentype');
}
@font-face {
  font-family: EB Garamond SC;
  src: url(./assets/fonts/EBGaramondSC12-Regular.otf) format('opentype');
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: black;
  background: black;
}

#mainpage {
  min-height: 100vh;
}

#mainpage {
  background: rgb(36,62,131);
  background: linear-gradient(180deg, rgb(153 176 238) 2vh, rgba(220, 250, 255, 1) 100vh);

  /* background: linear-gradient(180deg, rgb(20, 23, 31) 2vh, rgb(11, 15, 16) 100vh); */
}

.main-body {
  width: 100%;
  padding-bottom: 5em;
}

.contents {
  width: 100%;
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

/* Define the fonts for the following components */
h1,
h2,
h3,
h4,
p,
ul {
  font-weight: normal;
}

p {
  font-style: normal;
  font-variant: normal;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.125em;
}

h1 {
  font-variant: small-caps;
  font-size: 5em;
  margin-bottom: 0;
}

h2 {
  font-variant: small-caps;
}

h3 {
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 5px;
}

h4 {
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
  border: none;
  border-bottom: 1px solid currentColor;
}

a {
  color: black;
  font-style: italic;
  text-decoration: underline;
}

footer {
  margin-top: auto;
  margin-bottom: 0;
}
footer > h1 {
  margin: 0;
}

.toplink {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}

#logo-image {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  width: 150px;
  height: 150px;
}

.cta {
  display: inline-block;
  background: rgb(67, 100, 247);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 1em 2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  transition: scale 100ms;
}

.cta > * {
  color: inherit;
}

.cta:hover {
  scale: 1.05;
}
