html,
body,
#app,
#main {
  min-height: 100%;
  margin: 0;
}

#main {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
footer {
  margin-top: auto;
  margin-bottom: 0;
}
footer > h1 {
  margin: 0;
}
.toplink {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
}
#logo-image {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  width: 350px;
}
